[user]
    name = Nathan Corvino
    email = nathan@corvino.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    excludesfile = ~/.gitexclude
    warnambiguousrefs = false
    editor = emacs

[alias]
    plog = log --pretty=format:'%h %ae %s' --graph
    tlog = log --date=local --pretty=format:'%h %ae %ad %s' --graph
    flog = log --pretty=fuller

    stat = "!f() { git diff --name-status $1^ $1; }; f"
    dstat = diff --name-status
    get = remote update

    spull = !git-svn fetch && git-svn rebase
    spush = !git-svn dcommit

    ksdiff = difftool -y -t Kaleidoscope
    # Thanks @jimcorreia!
    ksshow = "!showrev () { rev=${1:-HEAD}; git ksdiff $rev~1 $rev; }; showrev $1"

    qamend = commit --amend --no-edit
    irebase = rebase -i --root

    qs = !git log --date=local --pretty=format:'%h %H %ae %ad %s' | head -n 1 | sed 's/$//'
    amdate = "!f() { GIT_COMMITTER_DATE=\"$1\" git commit --amend --date=\"$1\"; }; f"

    hd = rev-parse --verify HEAD
    sd = log --pretty=format:'%h' -n 1
    fa = fetch --all -pt
    fp = fetch -pt
    ff = merge --ff-only
    sup = submodule update --init --recursive
    pusha = push -u --all
    pusht = push --tags
    pushb = push --set-upstream
    fstpush = push --set-upstream origin main

    substats = "!f() { git-sub-stats.sh; }; f"
    ffbranch = "!f() { git-ff-branch.sh; }; f"
    recent = "!f() { git-recent.sh \"$1\"; }; f"

    ss = substats
    ffb = ffbranch

[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
    default = simple

# Diff/Merge

[mergetool]
    keepBackup = true

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true

# https://github.com/simonwagner/mergepbx
[mergetool "mergepbx"]
    cmd = mergepbx "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
