[user]
    name = Nathan Corvino
    email = nathan@corvino.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    excludesfile = ~/.gitexclude
    warnambiguousrefs = false
    editor = emacs

[push]
    default = simple

[alias]
    plog = log --pretty=format:'%h %ae %s' --graph
    tlog = log --date=local --pretty=format:'%h %ae %ad %s' --graph
    flog = log --pretty=fuller

    stat = "!f() { git diff --name-status $1^ $1; }; f"
    dstat = diff --name-status
    get = remote update

    spull = !git-svn fetch && git-svn rebase
    spush = !git-svn dcommit

    ksdiff = difftool -y -t Kaleidoscope
    ksshow = !sh -c 'git difftool -y -t Kaleidoscope $1^ $1' -

    qs = !git log --date=local --pretty=format:'%h %H %ae %ad %s' | head -n 1 | sed 's/$//'
    amdate = "!f() { GIT_COMMITTER_DATE=\"$1\" git commit --amend --date=\"$1\"; }; f"

    fa = fetch --all -pt
    fp = fetch -pt
    ff = merge --ff-only
    sup = submodule update --init --recursive
    pusha = push -u --all
    pusht = push --tags
    pushb = push --set-upstream

[mergetool]
    keepBackup = true

# Diff/Merge Tools

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true

# https://github.com/simonwagner/mergepbx
[mergetool "mergepbx"]
    cmd = mergepbx "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
