[submodule ".elisp/csharp-mode"]
	path = .elisp/csharp-mode
	url = git@github.com:josteink/csharp-mode.git
[submodule ".elisp/direx-el"]
	path = .elisp/direx-el
	url = git@github.com:m2ym/direx-el.git
[submodule ".elisp/go-mode"]
	path = .elisp/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule ".elisp/markdown-mode"]
	path = .elisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule ".elisp/slime"]
	path = .elisp/slime
	url = git@github.com:slime/slime.git
[submodule ".elisp/swift-mode"]
	path = .elisp/swift-mode
	url = git@github.com:chrisbarrett/swift-mode.git
[submodule ".elisp/yaml-mode"]
	path = .elisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule ".elisp/emacs-hcl-mode"]
	path = .elisp/emacs-hcl-mode
	url = git@github.com:syohex/emacs-hcl-mode.git
[submodule ".elisp/graphql-mode"]
	path = .elisp/graphql-mode
	url = https://github.com/davazp/graphql-mode.git
[submodule ".elisp/emacs-request"]
	path = .elisp/emacs-request
	url = https://github.com/tkf/emacs-request.git
